* {
  margin: 0;
}

::-webkit-scrollbar {
    width:12px;
  }
::-webkit-scrollbar-track{
  background-color: black;
}

::-webkit-scrollbar-thumb {
  background-color: #0C850F;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #12a40f;
}